<div class="container">
  <h5 class="mt-5 ml-5">会員情報編集</h5>
  <div>
    <% if @customer.errors.any? %>
      <%= @customer.errors.count %>件のエラーが発生しました
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="form-group mt-4 col-10">
    <%= form_with model: @customer, url: customers_infomation_path(@customer), method: :patch do |f| %>
      <table class="table table-borderless border-sm col-10">
        <tr>
          <td><%= f.label :氏名 %></td>
          <td><%= f.text_field :last_name, class: "form-control" %></td>
          <td><%= f.text_field :first_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :フリガナ %></td>
          <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
          <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :郵便番号 %></td>
          <td><%= f.text_field :postal_code, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :住所 %></td>
          <td colspan="2"><%= f.text_field :address, class: "form-control" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :電話番号 %></td>
          <td><%= f.text_field :telephone_number, class: "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "編集内容を保存", class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to "退会する", customers_unsubscribe_path, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>