<%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
<div>
  <h5>商品新規登録</h5>
</div>

<table>
  <tr>
    <td><%= f.label :商品画像 %></td>
    <td><%= f.file_field :image, accept: "image/*" %></td>
  </tr>
  <tr>
    <td><%= f.label :商品名 %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :商品説明 %></td>
    <td><%= f.text_area :introduction %></td>
  </tr>
  <tr>
    <td><%= f.label :ジャンル %></td>
    <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
  </tr>
  <tr>
    <td><%= f.label :税抜価格 %></td>
    <td><%= f.text_field :price %>円</td>
  </tr>
  <tr>
    <td>
      <%= f.label :販売ステータス %>
    </td>
    <td>
      <%= f.radio_button :is_active, "販売中" %>
      <%= f.label :is_active, "販売中" %>

      <%= f.radio_button :is_active, "販売停止中" %>
      <%= f.label :is_active, "販売停止中" %>
    </td>
  </tr>
</table>

<%= f.submit "新規登録" %>

<% end %>