<h1>商品詳細</h1>

<div class="form-group">
  <%# 商品画像 %>
  <%# 画像サイズの指定も必要か？ %>
</div>

<table>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  </tr>

  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>

  <tr>
    <td>ジャンル</td>
    <td><%= @item.genre.name %></td>
  </tr>

  <tr>
    <%# 税込価格になるように消費税計算を加える %>
    <%# 税抜価格は（　）に表示されるようにする %>
    <td>
      税込価格<br>(税抜価格)
    </td>
    <td>
      "税込価格"<%= @item.price %>円
    </td>
  </tr>

  <tr>
    <td>販売ステータス</td>
    <td><%= @item.is_active %></td>
  </tr>
</table>



<div class="form-group">
  <%# 商品名, item.name %>
</div>

<div class="form-group">
  <%# 商品説明, item.introduction %>
</div>

<div class="form-group">
  <%# 商品ジャンル, item.genre.name? %>
  <%# アソシエーション、コントローラ確認 %>
</div>

<div class="form-group">
  <%# 税込価格 %>
  <%# 税抜価格, item.price.to_s(:delimited, delimiter: ",") %>
  <%# 税抜価格は（　）内に表示する %>
</div>

<div class="form-group">
  <%# 商品販売ステータス %>
</div>

<div class="form-group">
  <%= link_to "編集する", edit_admin_item_path(@item.id) %>
　<%# ボタン表示にする %>
</div>
