<div>
  <h5>管理者ログイン</h5>
</div>

<div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td><%= f.label :メールアドレス %></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr>
      <td><%= f.label :パスワード %></td>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>

    <tr>
      <td></td>
      <td><%= f.submit "ログイン", class: 'btn btn-primary btn-sm' %></td>
    </tr>

  </table>
<% end %>
</div>

<%= render "admin/shared/links" %>
