<div class="container">
  <h3 class="mt-5 ml-5 pl-5">ジャンル編集</h3>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h3><%= @genre.errors.count %> errors prohibited this obj from being saved:</h3>
      <ul>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-12 mt-5">
    <div class="form-group col-10">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
       <table class="table table-borderless col-7">
         <tr>
           <td><%= f.label :ジャンル名 %></td>
           <td><%= f.text_field :name %></td>
           <td><%= f.submit "変更を保存", class: 'btn btn-success btn-sm' %></td>
         </tr>
       </table>
      <% end %>
    </div>
  </div>
</div>