<div>
  <h5>ジャンル一覧・追加</h5>
</div>

<%= form_with model: @genre, url: '/admin/genres', method: :post do |f| %>
  <div class="form-group">
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name %>
    <%= f.submit '新規登録' %>
  </div>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>ジャンル</th>
        <th colspan=2></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>