<div class="container">
  <div class="row">
    <div class="rezistration col-12 mt-5">
      <div>
        <h5>新規会員登録</h5>
      </div>
      <div class="form-group">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
          <table class="table table-borderless table-sm">
            <tr>
              <td>名前</td>
              <td>(性)</td>
              <td><%= f.text_field :last_name, autofocus: true, placeholder: "令和", class: "form-control" %></td>
              <td>(名)</td>
              <td><%= f.text_field :first_name, placeholder: "道子", class: "form-control" %></td>
            </tr>
            <tr>
              <td>フリガナ</td>
              <td>(セイ)</td>
              <td><%= f.text_field :last_name_kana, placeholder: "レイワ", class: "form-control"  %></td>
              <td>(メイ)</td>
              <td><%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td></td>
              <td><%= f.text_field :postal_code, placeholder: "0000000", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td></td>
              <td colspan=3><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>電話番号(ハイフンなし)</td>
              <td></td>
              <td><%= f.text_field :telephone_number, placeholder: "00000000000", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>パスワード(6文字以上)</td>
              <td></td>
              <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %></td>
            </tr>
            <tr>
              <td>パスワード(確認用)</td>
              <td></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><%= f.submit "新規登録", class: "btn btn-success" %></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
    <div class="session col-12 mt-5">
      <h5>既に登録済みの方</h5>
      <div class="form-group">
        <p>　<%= link_to "こちら　", new_customer_session_path %>からログインしてください。</p>
      </div>
    </div>
  </div>
</div>