<div>
  <table>
    <thead>
      <tr>
        <th>ジャンル検索</th>
        <%# 登録しているジャンルidを呼び出す => genre.name
        <%# each文を使って登録済みジャンルを全部表示？ %>
        <%# itemsとgenresのアソシエーション必要？ %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%# @item.genre.name %></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>商品一覧</h1>
  <b>(全<%= @items.count %>件)</b>
  <% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "150x120" %>
      <% else %>
        <%= image_tag "no_image", size: "150x120" %>
      <% end %>
    <% end %></br>
    <%= item.name %></br>
    ¥<%= item.with_tax_price.to_s(:delimited) %>
  </div>
  <% end %>
</div>

<%# ページネーションを1ページ8商品表示にしたい %>
<%# indexアクションへpageの後に.per(8)を入れたらカウント数がうまくいかない %>
<%= paginate @items %>