  <%# ジャンル検索機能
  <table>
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
  %>
<div class="container">
  <div classs="row">
    <div class="item mt-4">
      <h1 class="item-title">商品一覧</h1>
      <b>(全<%= @items.count %>件)</b>
    </div>
    <div class="item-list row row-cols-4 mt-3"><%# "row row-cols-4"で12列に4つ(3列1商品)表示 %>
      <% @items.each do |item| %>
        <div>
          <%= link_to item_path(item.id) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "220x180" %>
            <% else %>
              <%= image_tag "no_image", size: "220x180" %>
            <% end %>
          <% end %></br>
          <%= item.name %></br>
          ¥<%= item.with_tax_price.to_s(:delimited) %>
        </div>
      <% end %>
    </div>
    <div class="item-pagination">
      <%= paginate @items %>
    </div>
  </div>
</div>

